@import "tailwindcss";

@layer base {
  :root {
    background-color: #fef9f7;
    color: #381217;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }
}

@layer components {
  .val-bg {
    @apply min-h-screen w-full relative overflow-hidden;
  }
}
